body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
}

.header {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.choices {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    }

button {
    background-color: DarkOrange;
    padding: 15px 32px;
    font-size: 16px;
    border: solid black 2px;
    border-radius: 10px;
}

.results {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}